.back{
    background-color:black;
    height:100vh;
    width:100vw;
    color:white;
}
.backB{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landN{
    display:flex;
    padding-top: 30px;
    justify-content: space-between;
    width:90%;
    margin:auto
}

.landMain{
    font-family: "halyard-display-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 60px;
    font-weight: bold;
}
.landP{
    font-family:calibri;
    font-size: 17px;
    width:70%;
    text-align: center;
    color:rgb(88, 88, 88);
    line-height: 22px;
    word-spacing: 1px;
}
.landB{
    margin-top: 20px;
    background-color:#2555c5;
    height:35px;
    width:120px;
    border-radius: 5px;
    font-family: calibri;
    transition-duration: 1s;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landB:hover{
    background-color:#416ed7;
    cursor: pointer;
}

.landL{
    height:30px;
    width:50px
}

@media screen and (max-width:800px) {
    .landMain{
        font-size: 150%;
    }

    .landP{
        font-size: 12px;
    }
    .backB{
        padding-top: 60%;
    }
}